# Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Copy from .gitignore file
vendor
tmp
app/app
app/tmp
coverage.out
.coverage.txt


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ project files
.idea
out
gen
